</div>

<footer class="footer">

  <div class="container " id="mycont">

    <h1 style="padding-bottom:10px;">Let's keep in touch !</h1>

  <div class="row">
    <div class=" col col-6 col-md-3 card border-0 align-items-center cardanimation">

      <a href="https://drive.google.com/file/d/1qhhXhU1bpHi7MsqZb6MvvPk5oQTLLUOx/view?usp=sharing"><img src="/photos/curriculum.png" class="card-img-top" style="width: 40%;"></a>
      <div class="card-body">
        <a href="https://drive.google.com/file/d/1qhhXhU1bpHi7MsqZb6MvvPk5oQTLLUOx/view?usp=sharing">Resume</a>
      </div>
    </div>
    <div class="col col-6 col-md-3 card border-0 align-items-center cardanimation">
    <a href="https://github.com/amrfahmyy">  <img src="/photos/github.png" class="card-img-top" style="width: 40%;"></a>
      <div class="card-body">
        <a href="https://github.com/amrfahmyy">Github</a>

      </div>
    </div>
    <div class="col col-6 col-md-3  card border-0 align-items-center cardanimation">
      <a href="https://www.linkedin.com/in/amr-fahmyxf/"><img src="/photos/linkedin.png" class="card-img-top" style="width: 40%;"></a>
      <div class="card-body">
        <a href="https://www.linkedin.com/in/amr-fahmyxf/">Linked in</a>
      </div>
    </div>
    <div class="col col-6 col-md-3 card border-0 align-items-center cardanimation">
      <img src="/photos/gmail.png" class="card-img-top" style="width: 40%;">
      <div class="card-body">
        <a href="">Gmail</a>
        <p>amrfahmy57<br>@gmail.com</p>
      </div>
    </div>
  </div>

  <h6 style="padding-top:20px;">Credits ro Amr Fahmy</h6>
  </div>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

<script src="/js/main.js"></script>
</body>
</html>
